*{
    margin: 0;
    padding: 0;
    font-family: Century;
}

header{
    background-color: black;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 20px;
    border: 1px solid whitesmoke;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

.logo img{
    float: left;
    width: 200px;
    height: auto;
}

.search h1{
    position: absolute;
    font-weight: 100;
    font-size: 30px;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
}

.search input{
    position: absolute;
    top: 25%;
    left: 49%;
    transform: translate(-40%,-40%);
}

.search h2{
    color: whitesmoke;
    font-weight: 100;
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%)
}

#first{
    top: 40%;
    left: 40%;
}

#second{
    top: 40%;
    left: 58%;
}

.search h3{
    color: whitesmoke;
    font-weight: 100;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

#fields{
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    top: 57%;
    left: 30%;
    transform: translate(-50%,-50%)
}

#operator{
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%)
}

#value{
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    top: 57%;
    left: 70%;
    transform: translate(-50%,-50%)
}


.main{
    max-width: 1200px;
    margin: auto;
}

